.overlay{
    overflow: hidden;
}
.tabs{
    display: flex;
    width: 100%;
}
.tab{
    background-color: #1a1c1b;
    border: 1px solid #ccc;
    color:white;
    border-bottom: none;
    padding: 10px;
    margin: 0 0 -1px 0;
    display: inline-block;
    width: 50%;
    text-align: center;
    cursor: pointer;
    
    
}
#injurysystem{
    width: 100%;
    height: 100%;
    /* move up */

    display: flex;
    overflow: hidden;
}
.human-body {
    
    width: 50%;
    position: relative;
    display: block;
    background-color: #212225;
    color:white;
  }
  
  .human-body svg:hover {
    cursor: pointer;
  }
  
  .human-body svg {
    position: absolute;
    top: 20px;
    left: 30%;
    fill: white;
  }

#contener{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #212225;
    color:white;
}
#text{
    width:500px;
    margin-top:20px;
    margin-left:10px;
    font-size: 18px;
    color:white;
}
#list{
    margin-top:20px;
    margin-left:10px;
    font-size: 18px;
    color:white;
}
#titles{
    margin-top:20px;
    margin-left:10px;
    font-size: 18px;
    float:left;
    display:flex;
}
#title{
    margin-left:40px;
}
#lista{
    height: 130px;
    width: 600px;
    color:white;
    max-height:130px; 
    overflow-y:scroll;
}
#form{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#id{
    margin-right:10px;
}
#sub{
    margin-right: 10px;
}
#title{
    width: 100%;
}
#pacjent{
    /*  under eachothers */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#id{
    width: 70px;
}

#kwota{
    width: 100px;
}
#info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: left;
}

.btn{
    margin-left: 10px;
  }

#fakid{
    width: 70px;
}
.disabledp{
    pointer-events:none;
}

#dispatch-list{
    margin-top:20px;
    margin-left:10px;
    font-size: 18px;
    color:black;
}
#dispatch-titles{
    margin-top:20px;
    margin-left:10px;
    font-size: 18px;
    float:left;
    display:flex;
}
#dispatch-title{
    margin-left:40px;
}
#dispatch-lista{
    overflow-y: scroll;
    height: 200px;
    width: 500px;
    color:black;

}
#bg{
    width: 954px;
    height: 415px;
    overflow-y: hidden;
}
#card-body{
    /*  center */
    display: flex;
    justify-content: center;
}
#cardw{
    float:left; margin-left:10px; width:770px; margin-top:20px; background-color: whitesmoke; color:black;
}
#tablet_content{
    float:left; 
    background-color: #212225;
    width:100%; 
    height:509px;
    overflow-y:scroll;
    overflow-x:hidden;
   
}
#tablet_content::-webkit-scrollbar-track
{
	display:none;

}
#tablet_content::-webkit-scrollbar
{
	width: 12px;
  display:none;

}
#card-icon{
    background-color: #5963f6;
    font-size:25px;
    padding:9px;
    float:left;
    color:white;
    border-radius:7px;
}
#card-name{
    float:left;
    color:#607d8b; 
    font-family: 'Roboto', sans-serif;
    font-size:13px;
    margin-left:10px;
}
#number{
    font-size:20px; 
    font-family: 'Roboto', sans-serif;
    float:left;
    width:100px;
    margin-left:10px;
}
.wezwania{
max-height:100px; 
    overflow-y:scroll;
    overflow-x:hidden;            
}
#informacje{
    float:left;
    width:80%;
    color:white; 
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    margin-left:10px;
}
#wezwania{
    /*center*/
}